
<%if(user){%> <div id="username_div" class="button">Привет, <%-user.sign%>.<a href="/logout">Валим</a></div><%}%>

<%if(user==null){%> <div id="username_div" class="button"><a href="/login">Вход</a></div>  <%}%>
